<environment names="Development">
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.css" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    <script src="~/lib/datatables/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
</environment>
@model IEnumerable<DietPlanListVM>



<div class="box ">
    <a class="btn btn-primary float-right" asp-action="Create" asp-controller="DietPlan" style=" margin-bottom: 20px;">Create New Diet Plan</a>
    <br />
    <div class="box-body table-responsive">
        <table class="table table-primary table-striped table-hover"  style="background-color: rgba(210,130,240, 0.3) !important;" id="TableId" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Weight(Kgs)</th>
                    <th>Height(m)</th>
                    <th>Age</th>
                    <th>Place</th>
                    <th>Occupation</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Date</td>
                        <td>@item.Weight</td>
                        <td>@item.Height</td>
                        <td>@item.Age</td>
                        <td>@item.Place</td>
                        <td>@item.Occupation</td>
                        <td>
                            <a class="btn btn-success" asp-action="Create" asp-route-id="@item.Id" asp-controller="DietPlan"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-outline-primary" data-toggle="modal" data-target="@String.Format("#exampleModal{0}",item.Id)">Diet Chart</a>

                        </td>
                        <div class="modal fade" id="@String.Format("exampleModal{0}",item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Daily Diet Plan</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <h4 class="pl-2">Recommended daily nutrients intake:</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card" id="flip" style="background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,172,9,1) 0%, rgba(255,192,0,1) 100%); cursor: pointer;">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;">
                                                        <img src="~/icons8-protein-supplement-48.png" /><label class="display-6">Protiens: &nbsp; @item.Proteins  &nbsp;grams</label>


                                                    </div>
                                                </div>

                                                <div id="panel" class="card" style="display: none;">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;  ">
                                                        <p>
                                                            Protein-rich foods include Eggs, Cheese, Beef, Chicken, Fish.
                                                            Proteins are essential for growth and maintainence. They help in
                                                            building body mass as muscles, and regulate various chemical
                                                            reactions inside the body.
                                                        </p>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card" id="flip1" style="background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,26,238,0.8883928571428571) 0%, rgba(70,185,244,1) 100%); cursor: pointer; ">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;">
                                                        <img src="~/icons8-carbohydrates-48.png" /> <label class="display-6">Carbohydrates: &nbsp; @item.Carbohydrates &nbsp;grams</label>


                                                    </div>
                                                </div>
                                                <div id="panel1" class="card" style="display: none;">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;  ">
                                                        <p>
                                                            Carbohydrate-rich foods include Wheat, Barley, Corn,
                                                            Rice, Oatmeal, Barley and fruits. Carbohydrates are an
                                                            essential energy source for body cells. They prevent breakdown of
                                                            proteins and fats for use in energy.
                                                        </p>


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card" id="flip2" style="background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,155,26,1) 0%, rgba(229,244,70,1) 100%); cursor: pointer; ">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;">
                                                        <img src="~/icons8-olive-oil-bottle-48.png" /><label class="display-6">Fats: &nbsp; @item.Fats &nbsp;grams</label>


                                                    </div>
                                                </div>
                                                <div id="panel2" class="card" style="display: none;">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;  ">
                                                        <p>
                                                            Fats-rich foods include Whole eggs, Cheese, Chocolate, Olive Oil.
                                                            Fats act as energy reservoirs for excees energy. Also help in storage of
                                                            fat-soluble Vitamins (A, D, E, K).
                                                        </p>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card" id="flip3" style="background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,26,255,1) 0%, rgba(70,244,230,1) 100%); cursor: pointer;">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;">
                                                        <img src="~/icons8-water-cooler-48.png" /><label class="display-6">Water Intake:&nbsp; @item.RequiredwaterIntake &nbsp;cups</label>


                                                    </div>
                                                </div>
                                                <div id="panel3" class="card" style="display: none;">
                                                    <div class="card-body" style="padding-top: 15px; padding-bottom: 5px;  ">
                                                        <p>
                                                            Water is essential for life itself. In the human body water provides an internal milieu
                                                            for body metabolism. It is a major constituent of blood and regulates blood pressure. It also transports
                                                            nutrients and wastes to and from body cells.
                                                        </p>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <h5 class="pl-2 pl-3">Your Current Body Mass Index is :&nbsp;<b class="text-primary">@item.BMI.ToString("#.##")</b></h5>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </tr>


                }

            </tbody>
        </table>
    </div>
</div>


    <script>
    $(document).ready(function () {
            $('#TableId').DataTable();

        });

        $("#flip").click(function () {
            $("#panel").slideToggle("slow");
        });

        $("#flip1").click(function () {
            $("#panel1").slideToggle("slow");
        });
        $("#flip2").click(function () {
            $("#panel2").slideToggle("slow");
        });
        $("#flip3").click(function () {
            $("#panel3").slideToggle("slow");
        });
    </script>
